@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.container {
  max-width: 1140px;
  margin: 0 auto;
}
#contact__form {
  background: #2F3D48;
}
#contact__form h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-size: 25px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact__item h6 {
  color: #fff;
  font-size: 12px;
  padding-bottom: 3px;
}
.contact__item p {
  color: #fff;
  font-size: 14px;
  padding: 0;
  font-family: 'Open Sans';
}
.contact__item__icon i {
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
  width: 100%;
  font-family: fontawesome !important;
}
.bg {
  background: #2F3D48 !important;
}
.bg h1 {
  border: none;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
