footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #2F3D48;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 50px 0;
}
footer h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 30px;
  color: #ffffff;
}
footer p {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: normal;
}
footer .footer__content {
  margin-left: -20px;
  padding-left: 20px;
  border-left: solid #f89b24 3px;
  height: 108px;
}
footer .services p {
  line-height: 1.75;
}
