#contact__form {
  background: #2F3D48;
}
#contact__form h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact__item i {
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
}
.contact__item h6 {
  color: #fff;
  font-size: 12px;
  padding-bottom: 3px;
}
.contact__item p {
  color: #fff;
  font-size: 14px;
  padding: 0;
}
.bg {
  background: #2F3D48 !important;
}
.bg h1 {
  border: none;
  margin: 0;
  padding: 0;
}
