header {
  background: #2F3D48;
}
header h1 {
  font-size: 56px;
  font-family: Intro;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
header h2 {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 80px;
  margin-bottom: 0;
}
