.mainpage .heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
}
.mainpage .icons__item i {
  display: block;
  text-align: center;
  font-size: 50px;
}
.mainpage .icon__wrapper {
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 25px;
  width: 100px;
  height: 100px;
  background: #f89b24;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}
.mainpage .icon__text {
  text-transform: uppercase;
}
.mainpage .about {
  font-size: 20px;
  text-indent: 35px;
}
.mainpage #for__beginners {
  color: blue;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
.mainpage .begin__info {
  display: none;
}
