@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: currentColor;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans';
  color: #222;
  background: #F0F0F0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navitem__active {
  -webkit-box-shadow: inset 0px -3px 0px 0px #f89b24;
          box-shadow: inset 0px -3px 0px 0px #f89b24;
}
#intro {
  background: url('../img/bgtop.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
}
.nav__contacts p {
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
}
#aquatitle {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Intro;
  padding-left: 50px;
  color: #fff;
}
#ico {
  height: 32px;
  padding-left: 120px;
}
.menu {
  position: absolute;
  right: 120px;
}
.menu__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu__line li {
  padding: 8px 30px;
}
.menu__line li span {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.menu__line li:hover span {
  color: #10c9c3;
}
.short__info {
  padding: 120px;
  padding-top: 350px;
}
.short__info h1 {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  letter-spacing: 0.4px;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  -webkit-box-shadow: inset 0px 0px 50px 0px #000;
          box-shadow: inset 0px 0px 50px 0px #000;
  max-width: 300px;
  padding: 5px 25px;
}
.short__info h2 {
  font-family: 'NunitoSans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1px;
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 1px black;
  background: #cfcfcf;
  max-width: 600px;
  padding: 3px 25px;
  -webkit-box-shadow: inset 0 0 20px 0px #000;
          box-shadow: inset 0 0 20px 0px #000;
  margin-top: 2px;
}
#about__us {
  padding: 80px 0;
  background: #ffffff;
}
#about__us h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #191919;
  padding-bottom: 30px;
}
#about__us p {
  font-family: 'NunitoSans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #787878;
  margin: 0 auto;
  padding-bottom: 40px;
}
#why__us {
  background: url('../img/backgroundtop.jpg') no-repeat center / cover;
  background-attachment: fixed;
}
.why__us__wrapper {
  background: rgba(0, 0, 0, 0.5);
}
.why__us__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wu__button {
  background: #eeeeee;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.wu__button p {
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
}
.our__service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.our__services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.our__service__text {
  padding: 0 0 0 30px;
}
.our__service i {
  font-size: 64px;
  padding: 0 5px;
}
.our__service h2 {
  font-size: 20px;
  padding: 5px 0 20px 0;
}
.our__service h3 {
  font-size: 15px;
  font-weight: normal;
}
.slider__wrapper {
  width: 100%;
  margin: 80px 0;
}
.slider__wrapper h1 {
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
.slider {
  width: 100%;
}
.slide {
  width: 100%;
  position: relative;
  margin: 0 20px;
}
.slide__desc {
  background: #f4f4f4;
}
.slide__desc p {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  padding: 10px 5px;
}
.slide img {
  max-height: 100%;
  max-width: 100%;
}
.mainpage {
  padding-bottom: 50px;
}
.mainpage #all__icons p {
  font-family: 'NunitoSans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #fff;
  padding: 0 20%;
  padding-bottom: 40px;
  text-shadow: 2px 2px 2px #000;
}
.mainpage .heading {
  font-size: 36px;
  color: #191919;
  padding-bottom: 30px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.mainpage .icons__item i {
  display: block;
  text-align: center;
  font-size: 50px;
}
.mainpage .icon__wrapper {
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 25px;
  width: 100px;
  height: 100px;
  background: #10c9c3;
  -webkit-border-radius: 50px;
          border-radius: 50px;
}
.mainpage .icon__text {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.mainpage .about {
  font-size: 20px;
  text-indent: 35px;
}
.mainpage #for__beginners {
  color: blue;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
.mainpage .begin__info {
  display: none;
}
#led__container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#led__intro {
  background: #fff;
  padding: 80px 0;
}
.led__intro__info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  text-transform: uppercase;
}
.led__intro__photo img {
  max-height: 400px;
}
#about__led {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 80px 0;
}
#about__led i {
  font-size: 64px;
}
#about__led p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}
#special__profiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.left__side {
  width: 45%;
  background: url('../img/sp_prof_right.jpg') no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}
.right__side {
  padding: 60px 0;
  width: 55%;
  background: #fff;
}
.right__side h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 30px;
}
.right__side ul {
  padding-left: 40px;
}
.right__side ul li {
  font-size: 22px;
  padding-bottom: 12px;
}
.right__side ul li span {
  font-size: 18px;
  font-style: italic;
  font-family: 'NunitoSans', sans-serif;
}
.right__side img {
  display: none;
}
#holders {
  padding: 40px 0;
  overflow: hidden;
}
#holders img {
  width: 100%;
}
#holders p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}
#holders h1 {
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#holders__container {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.holder__type {
  max-width: 375px;
}
.holder__type:hover {
  cursor: pointer;
  -webkit-animation: scaleit 0.2s linear forwards;
          animation: scaleit 0.2s linear forwards;
}
.diod__left {
  padding: 60px 40px;
  width: 100%;
  background: #fff;
}
.diod__left img {
  display: none;
}
.diod__left h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.diod__left ul li {
  font-size: 22px;
  padding-bottom: 12px;
}
.diod__left ul li span {
  font-size: 18px;
  font-style: italic;
  font-family: 'NunitoSans', sans-serif;
}
.diod__right {
  width: 100%;
  background: url('../img/diod.jpg') no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}
#controller__particles {
  padding: 40px 0;
}
#controller__particles img {
  max-width: 100%;
}
#controller__particles h1 {
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#controller__particles p {
  font-family: 'NunitoSans', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #787878;
  margin: 0 auto;
  padding-bottom: 40px;
}
#contact__form {
  padding: 40px 0;
  background: #2F3D48;
}
#contact__form h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact__item i {
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
}
.contact__item h6 {
  color: #fff;
  font-size: 12px;
  padding-bottom: 3px;
}
.contact__item p {
  color: #fff;
  font-size: 14px;
}
@-webkit-keyframes scaleit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@keyframes scaleit {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v3/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
* {
  margin: 0;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
nav li {
  list-style: none;
}
nav p {
  margin: 0;
}
nav ul {
  margin: 0;
}
.nav__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
}
.nav__contacts p {
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
}
#aquatitle {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Intro;
  padding-left: 50px !important;
  color: #fff;
  border: none !important;
  margin: 0;
  padding: 0;
}
#ico {
  height: 32px;
  width: 32px;
  padding: 0;
  padding-left: 120px !important;
  display: block;
  margin: 0;
}
.menu {
  position: absolute;
  right: 120px;
}
.menu__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu__line li {
  padding: 8px 30px;
}
.menu__line li span {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.menu__line li:hover span {
  color: #10c9c3;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
a {
  text-decoration: none;
  color: currentColor;
}
#contact__form {
  background: #2F3D48;
}
#contact__form h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact__item i {
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
}
.contact__item h6 {
  color: #fff;
  font-size: 12px;
  padding-bottom: 3px;
}
.contact__item p {
  color: #fff;
  font-size: 14px;
  padding: 0;
}
.bg {
  background: #2F3D48 !important;
}
.bg h1 {
  border: none;
  margin: 0;
  padding: 0;
}
.controllers__all {
  background: #ffffff;
  margin-bottom: 50px;
}
.controllers__heading {
  padding: 50px 0;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.controllers__types {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}
.controllers__types a {
  display: block;
}
.controllers__item {
  min-height: 210px;
  width: 320px;
  margin: 0 20px;
  cursor: pointer;
}
.controllers__item p {
  padding: 30px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.controllers__item:hover {
  -webkit-animation: scale 0.5s linear;
          animation: scale 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.controllers__subheading {
  padding-top: 100px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.shadow1 {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 8px 11px 5px 1px #dbdbdb;
          box-shadow: 8px 11px 5px 1px #dbdbdb;
}
.controller__prof__img {
  background: url("../img/controllerprof.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 210px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px 0px #838383;
          box-shadow: 0px 4px 0px 0px #838383;
}
.controller__mini__img {
  background: url("../img/controllermini.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 210px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px 0px #838383;
          box-shadow: 0px 4px 0px 0px #838383;
}
.some__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 0 70px;
  text-indent: 35px;
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (max-width: 770px) {
  .controllers__types {
    display: block;
  }
  .controllers__item {
    margin: 0 auto;
  }
  .controllers__heading {
    font-size: 24px;
  }
  #cf1 {
    display: block;
  }
  .contact__item {
    padding-left: 30%;
    padding-bottom: 10px;
  }
}
.profcontrollers__all {
  background: #ffffff;
  margin: 50px 0;
  padding: 0 50px;
}
.profcontrollers__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.controller {
  min-height: 210px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px 0px #838383;
          box-shadow: 0px 4px 0px 0px #838383;
}
.controller__aqua2 {
  background: url('../img/aqua2.jpg');
  -webkit-background-size: cover;
          background-size: cover;
}
.controller__light {
  background: url('../img/light.jpg');
  -webkit-background-size: cover;
          background-size: cover;
}
.controller__net {
  background: url('../img/net.jpg');
  -webkit-background-size: cover;
          background-size: cover;
}
.controller__reef {
  background: url('../img/reef.jpg') no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}
.controller__timerwifi {
  background: url('../img/timerwifi.jpg') no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
}
.controller__16ch {
  background: url('../img/16ch.jpg');
  -webkit-background-size: cover;
          background-size: cover;
}
@media screen and (max-width: 1400px) {
  .menu {
    right: 3%;
  }
}
@media screen and (max-width: 1250px) {
  .slider__wrapper {
    width: 90%;
    margin: 80px auto;
  }
  .slide {
    margin: 0 10px;
  }
  .right__side {
    padding-right: 30px;
  }
  .holder__type {
    max-width: 330px;
  }
  .menu {
    right: 0%;
  }
  .nav__contacts {
    padding-left: 30px;
  }
  #ico {
    padding-left: 40px;
  }
}
@media screen and (max-width: 1085px) {
  .menu {
    right: 5%;
  }
  #ico {
    display: none;
  }
  .our__services {
    display: block;
  }
  .our__service {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
  .slide__desc p {
    font-size: 18px;
  }
  #led__container {
    display: block !important;
  }
  #led__container p {
    text-align: center;
  }
  #led__container img {
    display: block;
    margin: 0 auto;
  }
  #special__profiles {
    display: block;
  }
  .right__side {
    width: 100%;
  }
  .right__side img {
    display: block;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .holder__type {
    max-width: 300px;
  }
  .diod__left {
    padding: 60px 30px;
  }
  nav {
    display: block;
  }
  #aquatitle {
    padding: 0;
    margin: 0 auto;
  }
  .nav__contacts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .menu {
    position: unset;
  }
  .menu__line {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 870px) {
  .menu {
    position: unset;
    margin: 0 auto;
  }
  .menu__line {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aquatitle {
    padding: 20px 0;
    margin: 0 auto;
  }
  .short__info {
    padding: 250px 100px 0;
  }
  .slide__desc p {
    font-size: 14px;
  }
  .slide {
    margin: 0 5px;
  }
  .heading {
    font-size: 30px !important;
  }
  .icon__wrapper {
    width: 70px !important;
    height: 70px !important;
    -webkit-border-radius: 35px !important;
            border-radius: 35px !important;
    padding-top: 17px !important;
  }
  .icon__wrapper i {
    font-size: 35px !important;
  }
  .icon__text {
    font-size: 14px;
  }
  .about__led__item p {
    font-size: 24px !important;
  }
  #holders__container {
    display: block !important;
  }
  .holder__type {
    margin: 0 auto;
    max-width: 70%;
    padding-bottom: 15px;
  }
  .diod__right {
    display: none;
  }
  .diod__left img {
    display: block;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .short__info {
    padding: 250px 70px;
  }
  .our__services {
    padding-left: 20px;
  }
  .slide__desc p {
    font-size: 10px;
  }
  .slide {
    margin: 0 3px;
  }
  .slider__wrapper {
    width: 85%;
  }
  .icon__text {
    font-size: 12px;
  }
  .right__side h1 {
    font-size: 18px !important;
  }
  .right__side li {
    font-size: 14px !important;
  }
  .right__side span {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 500px) {
  .menu__line li {
    padding: 8px 15px;
  }
  .icon__text {
    font-size: 10px;
  }
  .led__intro__photo img {
    max-width: 80%;
    margin: 0 auto;
  }
  .short__info {
    padding-top: 200px;
  }
}
