* {
  margin: 0;
}
body {
  background: #F0F0F0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  background: #fff;
}
.inner__container {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}
h1 {
  font-size: 36px;
  border-bottom: 2px solid grey;
  padding-top: 40px;
  margin: 0;
}
img {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}
h2 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
}
h3 {
  font-size: 17px;
}
p {
  padding-bottom: 20px;
  font-size: 17px;
}
span {
  color: #EE5547;
}
.controller__name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
ul {
  padding-bottom: 20px;
}
ul li {
  font-size: 17px;
}
table {
  width: 100%;
  padding-bottom: 20px;
}
td {
  padding: 10px;
}
th {
  text-align: start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.td1 {
  width: 60%;
}
.td2 {
  width: 20%;
}
.colored {
  background: #f5f5f5;
}
.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.button {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: #f5f5f5;
}
.button p {
  padding: 10px;
}
* {
  margin: 0;
}
nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
nav li {
  list-style: none;
}
nav p {
  margin: 0;
}
nav ul {
  margin: 0;
}
.nav__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
}
.nav__contacts p {
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
}
#aquatitle {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Intro;
  padding-left: 50px !important;
  color: #fff;
  border: none !important;
  margin: 0;
  padding: 0;
}
#ico {
  height: 32px;
  width: 32px;
  padding: 0;
  padding-left: 120px !important;
  display: block;
  margin: 0;
}
.menu {
  position: absolute;
  right: 120px;
}
.menu__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu__line li {
  padding: 8px 30px;
}
.menu__line li span {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.menu__line li:hover span {
  color: #10c9c3;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
a {
  text-decoration: none;
  color: currentColor;
}
#contact__form {
  background: #2F3D48;
}
#contact__form h1 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}
.contact__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contact__item i {
  color: #fff;
  font-size: 32px;
  padding: 0 10px;
}
.contact__item h6 {
  color: #fff;
  font-size: 12px;
  padding-bottom: 3px;
}
.contact__item p {
  color: #fff;
  font-size: 14px;
  padding: 0;
}
.bg {
  background: #2F3D48 !important;
}
.bg h1 {
  border: none;
  margin: 0;
  padding: 0;
}
